
<h4>Alert Profiles</h4>
<button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" (click)="addAlertProfileClick()" data-bs-target="#alertProfileModal">ADD <i class="bi bi-plus-lg"></i></button>
<!-- Modal -->
<div class="modal fade" id="alertProfileModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ModalTitle}}</h4>
                <button type="button" class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-edit-alert-settings [alertProf]="alertProf" *ngIf="ActivateAddEditAlertSettings"></app-add-edit-alert-settings>
            </div>
        </div>
    </div>
</div>

<!-- Alert Profiles -->
<table class="table table-striped">
    <thead>
        <th>Profile ID</th>
        <th>Alert Name</th>
        <th>High Threshold</th>
        <th>Ideal Value</th>
        <th>Low Threshold</th>
        <th>Alert Email</th>
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of AlertProfileList">
            <td>{{dataItem.AlertProfileId}}</td>
            <td>{{dataItem.AlertProfileName}}</td>
            <td>{{dataItem.HighThreshold}}</td>
            <td>{{dataItem.TargetValue}}</td>
            <td>{{dataItem.LowThreshold}}</td>
            <td>{{dataItem.AlertEmail}}</td>
            <td> 
                <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" (click)="editAlertProfileClick(dataItem)" data-bs-target="#alertProfileModal"  style="margin-left:10px;"><i class="bi bi-pencil"></i></button>
                <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" (click)="deleteAlertProfileClick(dataItem)" data-bs-target="#alertProfileModal"  style="margin-left:10px;"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
