<div class="container">
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand">Sensor Dashboard</a>
      <ul class="navbar-nav" style="list-style: none;">
        <li class="nav-item" >
          <button routerLinnk="dashboard" style="color: rgb(255,255,255);background: #31048B;border-radius: 7px;">Dashboard</button>
        </li>
        <li class="nav-item" >
          <button routerLinnk="settings" style="color: rgb(255,255,255);background: #31048B;border-radius: 7px;">Settings</button>
        </li>
        <li class="nav-item" >
          <button routerLinnk="logout" style="color: rgb(255,255,255);background: #31048B;border-radius: 7px;">Logout</button>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>