<div class="container">
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand"><h2>Home Sensor Dashboard</h2></a>
      <ul class="navbar-nav" style="list-style: none;">
        <li class="nav-item" >
          <button routerLink="dashboard" class="btn btn-primary" style="margin-left:10px;">Dashboard</button>
        </li>
        <li class="nav-item" >
          <button routerLink="settings" class="btn btn-primary"  style="margin-left:10px;">Settings</button>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>