<app-show-chart></app-show-chart>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>ReadingId</th>
            <th>Value</th>
            <th>ReadTime</th>
            <th>SensorName</th>
            <th>Options</th>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of ReadingList">
                <td>{{dataItem.ReadingId}}</td>
                <td>{{dataItem.ReadingValue}}</td>
                <td>{{dataItem.ReadTime}}</td>
                <td>{{dataItem.SensorName}}</td>
                <td> 
                    <button type="button" class="btn btn-light mr-1" style="margin-left:10px;"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-light mr-1" style="margin-left:10px;"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>