<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>ReadingId</th>
            <th>Value</th>
            <th>ReadTime</th>
            <th>SensorName</th>
            <th>Options</th>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of ReadingList">
                <td>{{dataItem.ReadingId}}</td>
                <td>{{dataItem.ReadingValue}}</td>
                <td>{{dataItem.ReadTime}}</td>
                <td>{{dataItem.SensorName}}</td>
                <td></td>
                <td> 
                    <button type="button" class="btn btn-light mr-1">Edit</button>
                    <button type="button" class="btn btn-light mr-1">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-show-chart></app-show-chart>
</div>